 Increase the number of hidden layers (5 marks)

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B?

In [ ]:
#importing libraries

import keras
from keras.models import Sequential 
from keras.layers import Dense 
from sklearn.model_selection import train_test_split 
import pandas as pd 

#importing processing to perform normalization on predictors
from sklearn import preprocessing

In [ ]:
#loading dataset
data = pd.read_csv("concrete_data.csv")
data.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90,47.03
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365,43.70
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28,36.45
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28,39.29

In [ ]:
#dividing dataset in predictors and target
predictors = data.iloc[:,:-1]
print(predictors)

#normalizing predictors
normalized_pred = preprocessing.normalize(predictors)
print(normalized_pred)

target = data.iloc[:,-1]
print(target)

      Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  \
0      540.0                 0.0      0.0  162.0               2.5
1      540.0                 0.0      0.0  162.0               2.5
2      332.5               142.5      0.0  228.0               0.0
3      332.5               142.5      0.0  228.0               0.0
4      198.6               132.4      0.0  192.0               0.0
...      ...                 ...      ...    ...               ...
1025   276.4               116.0     90.3  179.6               8.9
1026   322.2                 0.0    115.6  196.0              10.4
1027   148.5               139.4    108.6  192.7               6.1
1028   159.1               186.7      0.0  175.6              11.3
1029   260.9               100.5     78.3  200.6               8.6

      Coarse Aggregate  Fine Aggregate  Age
0               1040.0           676.0   28
1               1055.0           676.0   28
2                932.0           594.0  270
3                932.0           594.0  365
4                978.4           825.5  360
...                ...             ...  ...
1025             870.1           768.3   28
1026             817.9           813.4   28
1027             892.4           780.0   28
1028             989.6           788.9   28
1029             864.5           761.5   28

[1030 rows x 8 columns]
[[0.39624448 0.         0.         ... 0.76313751 0.49603938 0.02054601]
 [0.39293409 0.         0.         ... 0.7676768  0.49189527 0.02037436]
 [0.27357162 0.11724498 0.         ... 0.76682331 0.48872645 0.22214838]
 ...
 [0.12141129 0.11397127 0.08878967 ... 0.72961238 0.63771588 0.02289237]
 [0.1222549  0.14346317 0.         ... 0.76042395 0.60620297 0.02151563]
 [0.21646863 0.08338481 0.06496548 ... 0.71727531 0.63181625 0.02323159]]
0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

In [ ]:
#building model 

model = Sequential()

n_cols = normalized_pred.shape[1]

#3 hidden layers each of 10 nodes and activation type relu
model.add(Dense(10, activation="relu", input_shape=(n_cols,)))
model.add(Dense(10, activation="relu"))
model.add(Dense(10, activation="relu"))
model.add(Dense(1))

model.compile(optimizer="adam", loss="mean_squared_error")

In [ ]:
#printing mean squared error from 1-50 steps 
list = []
for step in range(50):
    #divide test data to be 30%
    X_train, X_test, y_train, y_test = train_test_split(normalized_pred, target, test_size=0.3)
    #train the model
    #changing epcohs from 50 to 100 for third task
    trained = model.fit(X_train, y_train, epochs=100, verbose=0, validation_data=(X_test, y_test))
    mean_squared_error = trained.history['val_loss'][-1]
    list.append(mean_squared_error)
    print('Step {} : mean squared error is {}'.format(step+1, mean_squared_error))

Step 1 : mean squared error is 134.53543090820312
Step 2 : mean squared error is 87.51703643798828
Step 3 : mean squared error is 65.46813201904297
Step 4 : mean squared error is 59.31606674194336
Step 5 : mean squared error is 47.118343353271484
Step 6 : mean squared error is 49.709144592285156
Step 7 : mean squared error is 54.39573287963867
Step 8 : mean squared error is 47.48921585083008
Step 9 : mean squared error is 44.13819885253906
Step 10 : mean squared error is 50.068294525146484
Step 11 : mean squared error is 45.982418060302734
Step 12 : mean squared error is 52.967044830322266
Step 13 : mean squared error is 44.961212158203125
Step 14 : mean squared error is 45.43722152709961
Step 15 : mean squared error is 45.27597427368164
Step 16 : mean squared error is 42.45895767211914
Step 17 : mean squared error is 48.921146392822266
Step 18 : mean squared error is 48.59225845336914
Step 19 : mean squared error is 42.21332931518555
Step 20 : mean squared error is 49.64638900756836
Step 21 : mean squared error is 45.74502182006836
Step 22 : mean squared error is 45.87128448486328
Step 23 : mean squared error is 45.001953125
Step 24 : mean squared error is 46.94218444824219
Step 25 : mean squared error is 40.870628356933594
Step 26 : mean squared error is 38.62162780761719
Step 27 : mean squared error is 40.29920196533203
Step 28 : mean squared error is 40.23015594482422
Step 29 : mean squared error is 48.457618713378906
Step 30 : mean squared error is 40.385616302490234
Step 31 : mean squared error is 46.89458084106445
Step 32 : mean squared error is 43.3865966796875
Step 33 : mean squared error is 39.41587829589844
Step 34 : mean squared error is 38.337806701660156
Step 35 : mean squared error is 35.92059326171875
Step 36 : mean squared error is 39.64656448364258
Step 37 : mean squared error is 40.435821533203125
Step 38 : mean squared error is 33.95753479003906
Step 39 : mean squared error is 36.873291015625
Step 40 : mean squared error is 33.76060104370117
Step 41 : mean squared error is 38.13396453857422
Step 42 : mean squared error is 37.31571578979492
Step 43 : mean squared error is 38.104835510253906
Step 44 : mean squared error is 41.66373825073242
Step 45 : mean squared error is 37.05570983886719
Step 46 : mean squared error is 46.17295455932617
Step 47 : mean squared error is 41.78483200073242
Step 48 : mean squared error is 42.521484375
Step 49 : mean squared error is 32.56222915649414
Step 50 : mean squared error is 37.927677154541016

In [ ]:
import numpy as np

In [ ]:
print("The mean of the mean squared error of Task B was 111.18567626953126 and for Task D is: {}".format(np.mean(list)))
print("The standard deviation of the mean squared error is: {}".format(np.std(list)))

The mean of the mean squared error of Task B was 111.18567626953126 and for Task D is: 46.41018501281738
The standard deviation of the mean squared error is: 15.32617366064866