A. Build a baseline model (5 marks) 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

In [ ]:
#importing libraries

import keras
from keras.models import Sequential 
from keras.layers import Dense 
from sklearn.model_selection import train_test_split 
import pandas as pd

In [ ]:
#importing dataset 

data = pd.read_csv("concrete_data.csv")
data.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90,47.03
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365,43.70
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28,36.45
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28,39.29

In [ ]:
#dividing the dataset into predictors and target 

predictors = data.iloc[:,:-1]
print(predictors)

target = data.iloc[:,-1]
print(target)

      Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  \
0      540.0                 0.0      0.0  162.0               2.5
1      540.0                 0.0      0.0  162.0               2.5
2      332.5               142.5      0.0  228.0               0.0
3      332.5               142.5      0.0  228.0               0.0
4      198.6               132.4      0.0  192.0               0.0
...      ...                 ...      ...    ...               ...
1025   276.4               116.0     90.3  179.6               8.9
1026   322.2                 0.0    115.6  196.0              10.4
1027   148.5               139.4    108.6  192.7               6.1
1028   159.1               186.7      0.0  175.6              11.3
1029   260.9               100.5     78.3  200.6               8.6

      Coarse Aggregate  Fine Aggregate  Age
0               1040.0           676.0   28
1               1055.0           676.0   28
2                932.0           594.0  270
3                932.0           594.0  365
4                978.4           825.5  360
...                ...             ...  ...
1025             870.1           768.3   28
1026             817.9           813.4   28
1027             892.4           780.0   28
1028             989.6           788.9   28
1029             864.5           761.5   28

[1030 rows x 8 columns]
0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

In [ ]:
#building model 

model = Sequential()

n_cols = predictors.shape[1]

#adding layers 
model.add(Dense(10, activation="relu", input_shape=(n_cols,)))
model.add(Dense(1))

#compiling
model.compile(optimizer="adam", loss="mean_squared_error")

In [ ]:
#printing mean squared error from 1-50 steps 

list = []
for step in range(50):
    #divide test data to be 30%
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    #train the model
    trained = model.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    mean_squared_error = trained.history['val_loss'][-1]
    list.append(mean_squared_error)
    print('Step {} : mean squared error is {}'.format(step+1, mean_squared_error))

Step 1 : mean squared error is 293.2117614746094
Step 2 : mean squared error is 294.6319580078125
Step 3 : mean squared error is 261.3721923828125
Step 4 : mean squared error is 258.7253112792969
Step 5 : mean squared error is 268.4429931640625
Step 6 : mean squared error is 289.9337158203125
Step 7 : mean squared error is 282.6071472167969
Step 8 : mean squared error is 273.8273010253906
Step 9 : mean squared error is 271.4349365234375
Step 10 : mean squared error is 276.9930725097656
Step 11 : mean squared error is 275.17755126953125
Step 12 : mean squared error is 265.5047912597656
Step 13 : mean squared error is 261.0710754394531
Step 14 : mean squared error is 265.8490295410156
Step 15 : mean squared error is 282.9456787109375
Step 16 : mean squared error is 266.5830383300781
Step 17 : mean squared error is 250.66542053222656
Step 18 : mean squared error is 300.5941162109375
Step 19 : mean squared error is 275.5075988769531
Step 20 : mean squared error is 302.8932800292969
Step 21 : mean squared error is 304.1715087890625
Step 22 : mean squared error is 281.9756164550781
Step 23 : mean squared error is 250.3859405517578
Step 24 : mean squared error is 284.7908020019531
Step 25 : mean squared error is 240.7969207763672
Step 26 : mean squared error is 251.8601837158203
Step 27 : mean squared error is 272.51654052734375
Step 28 : mean squared error is 277.2620849609375
Step 29 : mean squared error is 290.9418640136719
Step 30 : mean squared error is 296.5279235839844
Step 31 : mean squared error is 249.1613006591797
Step 32 : mean squared error is 294.42254638671875
Step 33 : mean squared error is 295.05841064453125
Step 34 : mean squared error is 288.65606689453125
Step 35 : mean squared error is 297.9936218261719
Step 36 : mean squared error is 279.9784851074219
Step 37 : mean squared error is 299.6628112792969
Step 38 : mean squared error is 253.7046661376953
Step 39 : mean squared error is 281.6072998046875
Step 40 : mean squared error is 268.1675109863281
Step 41 : mean squared error is 265.5695495605469
Step 42 : mean squared error is 295.3795471191406
Step 43 : mean squared error is 289.78631591796875
Step 44 : mean squared error is 276.85565185546875
Step 45 : mean squared error is 265.5104064941406
Step 46 : mean squared error is 286.1163635253906
Step 47 : mean squared error is 274.3943786621094
Step 48 : mean squared error is 280.50640869140625
Step 49 : mean squared error is 311.1802062988281
Step 50 : mean squared error is 280.04736328125

In [ ]:
import numpy as np

In [ ]:
print("The mean of mean squared error is: {}".format(np.mean(list)))
print("The standard deviation of the mean squared error is: {}".format(np.std(list)))

The mean of mean squared error is: 278.0592053222656
The standard deviation of the mean squared error is: 16.278239174437815